:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
   background-color: #242424;
}

.image-card {
    background-color: #3d3c3c;
  }

body {
  margin: 0;
  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #213547;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: rgb(43 191 191);
}

button {
  border-radius: 50%;
  border: 1px solid #32313d;
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fffab8;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 1rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.image-card.selected {
  border-color: #007bff;
  background: rgba(0, 123, 255, 0.1);
}

.image-card.selected img {
 
  transition: 0.3s;
  filter: blur(3px);
  transition: filter 0.3s ease;

}

/* Círculo azul con check blanco */
.image-card.selected::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  background-color: #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  border: solid 3px #00aeff;
}

.button-download {
  background-color: rgb(182, 238, 126);
  color: #333041;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.button-reset {
  margin-left: 1rem;
  padding: 5px 5px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(187, 5, 204);
}

reset {
  font-size: 3.5rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: #f9f9f9;
  }

  header {
    background-color: #dbdbdb;
  }

  .hashtag {
    font-weight: 700;
  }

  .image-card {
    background-color: lightgray;
  }
}

